.keyframe-container {
    display: flex;
}

.block {
    margin: 12px auto;
    width: 100px;
    height: 100px;
    background-color: bisque;
    box-sizing: border-box;
    padding-top: 25px;
    text-align: center;
    // transition: all 0.5s linear;
}

#ani1 {
    animation: ani1 3s infinite;
}

#actionArea {
    background-color: lightgray;
    opacity: 0.5;
    color: black;
    transition: opacity 0.2s ease;

    &:hover {

        opacity: 1;
    }
}

@keyframes ani1 {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translateX(200px) rotate(30deg);
    }

    100% {
        transform: translate(0px, 0px);
    }
}