div.WebAnimations {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    opacity: 0.8;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ball {
    transform: translate3d(0, 0, 0) scale(1);
    transition: all 2s ease;

    &:hover {
        transform: translate3d(200px, 0, 100px) scale(2) skewX(20deg);
    }
}


.inputBox {
    width: 60px;
    transition: all 0.5s ease;
    background-color: #fff;

    &.start:focus {
        width: 120px;
        background-color: aqua;
        opacity: 0.5;
    }
}

.shadow {
    box-shadow: 0 0 8px #000000;
}